body {
    background-color: #121212 ;
    font-family: 'poppinsregular', serif;
    color: white;

}
a{
    color:#364050;
    text-decoration:none;
}
a:hover{
    color:#6a717f;
}

.active{
    color:white;
    padding-bottom: 2px;
    border-bottom: 3px solid #00FFFF;
    border-radius: 2px;

}
.fixed-header{
    width: 100%;
}
.namedisplay{
    color: #00FFFF;
    font-family: 'poppinsregular', serif;
    font-size: 24px;
    float: left;
    top: 0;
    margin-top: -1%;
    padding-right: 17%;
    padding-left: 10%;
    padding-top: 0.75%;
}
.nav-a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 0 0;



}
.nav-ul{
    color: #fff;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 25%;
    margin-top: 1.5%;

}
.middle-row{
    padding-top: 10%;
    /*border-style: solid;*/
    /*border-color:green;*/
    /*border-width:3px;*/
}
.middle-content{

    display:flex;
    flex-direction: row;
    width:100%;
    /*border-style: solid;*/
    /*border-color:red;*/
    /*border-width:3px;*/
}
.middle-words{
    padding-top: 5%;
    box-sizing: border-box;
    padding-left: 30%;
    float:right;
    min-width:51%;
    max-width:51%;
    /*border-style: dashed;*/
    /*border-color:blue;*/
    /*border-width:2px;*/
}
.hello-world {
    color: #00FFFF;
    font-size: 18px;

}
.Brian-Simon{
    color:white;
    font-size: 42px;
}
.jobtitle{
    color:#00FFFF;
    font-size:20px;
}
.welcome{
    color:white;
    font-size:18px;
}

.middle-picture{
    box-sizing: border-box;
    min-width:49%;
    padding-left: 0.25%;
    float: left;
    /*border-style: dashed;*/
    /*border-color:yellow;*/
    /*border-width:2px;*/
}
.toothless {
    /*border-style: dashed;*/
    /*border-color:purple;*/
    /*border-width:2px;*/

    float: left;
    border-style: solid;
    border-radius: 50%;
    border-width: 4px;
    border-color: #00FFFF;
    -webkit-box-shadow:0px 0px 73px -9px rgba(0,255,255,0.7);
    -moz-box-shadow: 0px 0px 73px -9px rgba(0,255,255,0.7);
    box-shadow: 0px 0px 73px -9px rgba(0,255,255,0.7);
}
.toothless2{
    border-style: solid;
    border-radius: 50%;
    border-width: 4px;
    border-color: #00FFFF;
}

.githublink{
    float:right;
    margin-top: -2.5%;
    top: 0;
    padding-right: 10%;
}

.about-me-box{
    width: 75%;
    height: 50%;
    margin:auto;
    border-style: solid;
    border-width: 3px;
    border-color: #6a717f;
    background-color: ;
}
.topline{
    box-sizing: border-box;
    white-space: nowrap;
    padding: 2% 2%;
    border-style: dashed;
    border-color: #00FFFF;
    border-width: 2px;
}
.aboutme{

    padding-left: 2%;

    color: white;
    font-size: 22px;
}
.about-me-line-div{

}
.aboutmeline{
    margin-left: 13%;
    margin-top: -1.5%;
    width: 45%;
}
.middle-line{
    border-style: dashed;
    border-color: red;
    border-width: 2px;
}
.middle-line-content{
    display: flex;
    flex-direciton: row;
}
.toothless2container{
    width: 50%;
    border-style: dashed;
    border-color: green;
    border-width: 2px;
}
.about-me-words{
    width: 50%;
    float: right;
    border-style: dashed;
    border-color: blue;
    border-width: 2px;
}

@font-face {
    font-family: 'razerf5regular';
    src: url('../Fonts/RazerF5-Reg.otf');
    font-weight: bold;
    font-style: normal;}

@font-face{
    font-family: 'poppinsregular';
    src: url('../FONTS/AnyConv.com__Poppins-Regular.otf');
    font-weight: normal;
    font-style: normal;
}



/*font-family: 'razerf5regular', serif;*/