body {
    background-color: #121212 ;
    font-family: 'poppinsregular', serif;
    color: white;

}
hr{
    background-color: #00FFFF;
}
a{
    color:#364050;
    text-decoration:none;
}
a:hover{
    color:#6a717f;
}

.active{
    color:white;
    padding-bottom: 2px;
    border-bottom: 3px solid #00FFFF;
    border-radius: 2px;

}
.fixed-header{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /*border-style: dashed;*/
    /*border-color: white;*/
    /*border-width: 2px;*/
}
.namedisplaycontainer{
    box-sizing: border-box;

    min-width: 30%;
    float: right;
    /*border-style: dashed;*/
    /*border-color: orange;*/
    /*border-width: 2px;*/

}
.namedisplay{
    color: #00FFFF;
    font-family: 'poppinsregular', serif;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    float: left;
    /*border-style: dashed;*/
    /*border-color: blue;*/
    /*border-width: 2px;*/
}
.nav-a{
    box-sizing: border-box;
    flex-grow: 1;
    font-size: 18px;
    text-decoration: none;
    width: 40%;
    max-width: 50%;
    /*border-style: dashed;*/
    /*border-color: green;*/
    /*border-width: 2px;*/




}
.nav-ul{

    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    flex-wrap: nowrap;
    margin-top: 1.5%;
    /*border-style: dashed;*/
    /*border-color: yellow;*/
    /*border-width: 2px;*/

}
.githubbox{
    float:right;
    width: auto;
    /*border-style: dashed;*/
    /*border-color: purple;*/
    /*border-width: 2px;*/

}
.githublink{
    float:right;
    top: 0;
    margin:auto;
    padding-right: 1%;
}


.middle-content{
    box-sizing: border-box;
    margin-top: 5%;
    display:flex;
    flex-direction: row;
    width:100%;
    /*border-style: solid;*/
    /*border-color:red;*/
    /*border-width:3px;*/
}
.middle-words{
    padding-top: 5%;
    box-sizing: border-box;
    padding-left: 30%;
    float:right;
    min-width:51%;
    max-width:51%;
    /*border-style: dashed;*/
    /*border-color:blue;*/
    /*border-width:2px;*/
}
.hello-world {
    color: #00FFFF;
    font-size: 18px;

}
.Brian-Simon{
    color:white;
    font-size: 42px;
}
.jobtitle{
    color:#00FFFF;
    font-size:20px;
}
.welcome{
    color:white;
    font-size:18px;
}

.middle-picture{
    box-sizing: border-box;
    display: flex;
    align-items: center;

    min-width:49%;
    padding-left: 0.25%;
    width: 50%;
    margin: auto;
    float: left;
    /*border-style: dashed;*/
    /*border-color:yellow;*/
    /*border-width:2px;*/
}
.toothless {
    /*border-style: dashed;*/
    /*border-color:purple;*/
    /*border-width:2px;*/
    max-width: 50%;
    width: auto;
    height: auto;

    float: left;
    border-style: solid;
    border-radius: 50%;
    border-width: 4px;
    border-color: #00FFFF;
    -webkit-box-shadow:0px 0px 73px -9px rgba(0,255,255,0.7);
    -moz-box-shadow: 0px 0px 73px -9px rgba(0,255,255,0.7);
    box-shadow: 0px 0px 73px -9px rgba(0,255,255,0.7);
}




.about-me-box{
    width: 65%;
    height: 60%;
    margin:auto;
    border-radius: 30px;
    border-color: #383838;
    border-style: solid;
    border-width: 2px;
    background-color:#1e1e1f;
    /*border-style: solid;*/
    /*border-width: 3px;*/
    /*border-color: #6a717f;*/

}
.topline{
    display: table;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 2% 2%;
    /*border-style: dashed;*/
    /*border-color: #00FFFF;*/
    /*border-width: 2px;*/
}
.aboutme{
    display: table-cell;
    vertical-align: middle;
    padding-left: 2%;
    float: left;
    color: white;
    font-size: 22px;
    /*border-style: dashed;*/
    /*border-color: yellow;*/
    /*border-width: 2px;*/
}
.line-outer-div{
    display: table-cell;
    vertical-align: middle;
    margin-top: 1%;
    padding-left: 1%;
    margin-left: 1%;
    width: 100%;
    height: 100%;
    /*border-style: dashed;*/
    /*border-color: lime;*/
    /*border-width: 2px;*/
}
.about-me-line-div{
    float: left;
    width: 100%;
    /*border-style: dashed;*/
    /*border-color: purple;*/
    /*border-width: 2px;*/
}
.aboutmeline{
    float: left;
    flex: 0.5;
    width: 35%;
    border-color: #00FFFF;
}
.middle-line{
    box-sizing: border-box;
    /*border-style: dashed;*/
    /*border-color: red;*/
    /*border-width: 2px;*/
}
.middle-line-content{
    display: flex;
    flex-direciton: row;
}
.toothless2container{
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width:50%;
    width: 50%;
    margin: auto;
    padding-bottom: 3%;
    /*border-style: dashed;*/
    /*border-color: green;*/
    /*border-width: 2px;*/
}
.toothless2{
    max-width: 50%;
    width: auto;
    height: auto;
    border-style: solid;
    border-radius: 50%;
    border-width: 4px;
    border-color: #00FFFF;
}
.about-me-words{
    box-sizing: border-box;
    font-size: 18px;
    min-width:50%;
    width: 50%;
    float: right;
    word-spacing: 3px;
    padding-left: 1%;
    padding-right: 1%;
    /*border-style: dashed;*/
    /*border-color: blue;*/
    /*border-width: 2px;*/

}
.Skillsbox{
    display: flex;
    box-sizing: border-box;
    margin: auto;
    width: 65%;
    flex-direction: row;
    padding: 1% 1%;
    /*border-style: dashed;*/
    /*border-color: yellow;*/
    /*border-width: 2px;*/
}
.skillstablecontainerdiv{
    display: table;
    box-sizing: border-box;
    min-width: 100%;
    width: auto;
    /*border-style: dashed;*/
    /*border-color: sienna;*/
    /*border-width: 2px;*/
}
.linediv{
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 1%;
    min-width: 50%;
    /*border-style: dashed;*/
    /*border-color: orange;*/
    /*border-width: 2px;*/
}
.skillstext{
    display: table-cell;
    vertical-align: middle;
    padding-left: 1%;
    font-size: 22px;
    width: 90%;
    /*border-style: dashed;*/
    /*border-color: blue;*/
    /*border-width: 2px;*/
}
.skillsline{
    float: left;
    width: 100%;
    border-color: #00FFFF;
}
.togglebuttonscontainer{
    display: flex;
    box-sizing: border-box;
    padding-left: 1%;
    margin: auto;
    width: 65%;
    vertical-align: middle;
    flex-direction: row;
    /*border-style: dashed;*/
    /*border-color: lime;*/
    /*border-width: 2px;*/
}
.buttonscontainer{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    gap: 1em;
    vertical-align: middle;
    width: auto;
    height: 2.8em;
    /*border-style: dashed;*/
    /*border-color: red;*/
    /*boreder-width: 2px;*/
}
.techstackbuttoncontainer{
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    height: auto;
    /*border-style: dashed;*/
    /*border-color: magenta;*/
    /*border-width: 2px;*/
}
.toolsbuttoncontainer{
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    height: auto;
    /*border-style: dashed;*/
    /*border-color: blue;*/
    /*border-width: 2px;*/

}
.techstackbutton{
    background: rgba(0, 70, 71, 0.6);
    height: 100%;
    border-radius: 5px;
    width: auto;
    color: rgba(0,225,225,100);
    border: 0;
    box-shadow: none;
    font-family: 'poppinsregular', serif;

}
.toolsbutton{
    background: rgba(0,70,71,0);
    height: 100%;
    border:0;
    border-radius:5px;
    box-shadow: none;
    width: auto;
    color: rgba(0,225,225,100);
    font-family: 'poppinsregular', serif;
}
.techstackbutton:hover{
    color: white;
}
.toolsbutton:hover{
    color: white;
}
.skillgrid{
    display: flex;
    flex-direction: row;
    gap: 5% ;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    margin-top: 1%;
    min-width: 30%;
    max-width: 65%;
    box-sizing: border-box;
    /*border-style: dashed;*/
    /*border-color: red;*/
    /*border-width: 2px;*/
}
.skilltable{
    table-layout: auto;
    width: auto;
    margin:auto;
}
.BlueBox{
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: space-around;
    margin-bottom: 2%;
    min-width: 20%;
    width: auto;
    height: 4em;
    max-width: 20%;
    border-radius: 5px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #00FFFF;
    border-width: 1px;

}
.imagebox{
    box-sizing: border-box;
    display: flex;
    /*border-style: dashed;*/
    /*border-color: green;*/
    /*border-width: 2px;*/
    float: left;
    height: 100%;
    align-items: center;
    vertical-align: middle;
}
.bothtextsbox{
    width: auto;
    min-width: 50%;
    float: right;
    box-sizing: border-box;
    /*border-style: dashed;*/
    /*border-color: pink;*/
    /*border-width: 2px;*/
}
.bigtextbox{
    box-sizing: border-box;
    font-size: 18px;
    width: auto;
    text-align: left;
    /*border-style: dashed;*/
    /*border-color: orange;*/
    /*border-width: 2px;*/
}
.smalltextbox{
    box-sizing: border-box;
    font-size: 12px;
    width: auto;
    margin: auto;
    text-align: left;
    /*border-style: dashed;*/
    /*border-color: blue;*/
    /*border-width: 2px;*/

}
#box7{
    visibility: hidden;
}
#box8{
    visibility: hidden;
}
#box9{
    visibility: hidden;
}
#box10{
    visibility: hidden;
}
#box11{
    visibility: hidden;
}
#box12{
    visibility: hidden;
}
@font-face {
    font-family: 'razerf5regular';
    src: url('../Fonts/RazerF5-Reg.otf');
    font-weight: bold;
    font-style: normal;}

@font-face{
    font-family: 'poppinsregular';
    src: url('../../Personal_Portfolio/Fonts/AnyConv.com__Poppins-Regular.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
}



/*font-family: 'razerf5regular', serif;*/